@page "/counter"
@rendermode InteractiveWebAssembly

@using CheckAndMate.Shared.Utilities

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>guid: @currentGuid</p>

@code {
    private int currentCount = 0;
    private string currentGuid = "";

    private void IncrementCount()
    {
        currentCount++;
        currentGuid = Util.GetNewId();
    }
}
