@page "/game/{gameId}"
@inject CheckAndMate.Client.Services.ChessClientService ChessClientService
@using CheckAndMate.Shared.Chess

<h3>Game</h3>

@code {
    [Parameter]
    public string gameId { get; set; }

    public Game game { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ChessClientService.OnGameReceived += OnGameReceived;
        await ChessClientService.StartAsync();
        await ChessClientService.JoinGameAsync(gameId);
    }

    private void OnGameReceived(Game game)
    {
        this.game = game;
        StateHasChanged();
    }

    private async Task MakeMove(Move move)
    {
        await ChessClientService.SendMoveAsync(this.gameId, move);
    }

    public void Dispose()
    {
        ChessClientService.OnGameReceived -= OnGameReceived;
    }
}
