#chessboard {
    --square-size: 4em;
    --piece-size: 3.5em;
    display: grid;
    grid-template-columns: repeat(8, var(--square-size));
    grid-template-rows: repeat(8, var(--square-size));
    gap: 0;
}

.square {
    width: var(--square-size);
    height: var(--square-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.light {
    background-color: #f0d9b5;
}

.dark {
    background-color: #b58863;
}

.piece {
    width: var(--piece-size);
    height: var(--piece-size);
}

.square.dragover {
    border: 2px dashed #000;
}