@page "/board"

@using SignalRTesting.Client.Shared

<h3>Chess Board</h3>

@* <ChessBoard InitialBoard="@InitialBoard" /> *@
<NewChessBoard InitialBoard="@InitialBoard" />

@code {
    private string[,] InitialBoard = new string[8, 8]
    {
        { "bR", "bN", "bB", "bQ", "bK", "bB", "bN", "bR" },
        { "bP", "bP", "bP", "bP", "bP", "bP", "bP", "bP" },
        { "--", "--", "--", "--", "--", "--", "--", "--" },
        { "--", "--", "--", "--", "--", "--", "--", "--" },
        { "--", "--", "--", "--", "--", "--", "--", "--" },
        { "--", "--", "--", "--", "--", "--", "--", "--" },
        { "wP", "wP", "wP", "wP", "wP", "wP", "wP", "wP" },
        { "wR", "wN", "wB", "wQ", "wK", "wB", "wN", "wR" }
    };
}
