@implements IDisposable

<div class="chess-board border rounded">
    <div class="chess-grid">
        @for (int r = 0; r < 8; r++)
        {
            @for (int c = 0; c < 8; c++)
            {
                var R = r;
                var C = c;
                var piece = GetPiece(R, C);
                @if (piece != "--")
                {
                    <div class="chess-piece @(piece.ToLower()) square-@(R)-@(C)" style=""></div>
                }
            }
        }
        <div class="hover-square" style="visibility: hidden;">
            <svg viewBox="0 0 100 100">
                <rect x="0" y="0" width="100" height="100" stroke="rgba(255, 255, 255, 0.65)" stroke-width="10" fill="none"></rect>
            </svg>
        </div>
        <div id="prev-move-start" class="highlight" style="visibility: hidden;"></div>
        <div id="prev-move-end" class="highlight" style="visibility: hidden;"></div>
        <div id="curr-move" class="highlight" style="visibility: hidden;"></div>
    </div>
    <div class="chess-ranks">
        @for (int k = 0; k < 8; k++)
        {
            <div class="chess-label rank">
                <text class="chess-label-text">@GetRank(k)</text>
            </div>
        }
    </div>
    <div class="chess-files">
        @for (int k = 0; k < 8; k++)
        {
            <div class="chess-label file">
                <text class="chess-label-text">@GetFile(k)</text>
            </div>
        }
    </div>

</div>

@code {
    [Parameter]
    public string[,] InitialBoard { get; set; } = new string[8, 8];

    [Inject]
    private IJSRuntime JSRuntime { get; set; } = default!;
    private IJSObjectReference? JS;
    private DotNetObjectReference<NewChessBoard>? Dotnet;

    public bool IsWhite = true;
    public string[,] Board = new string[8, 8];
    public string[,] ReverseBoard
    {
        get
        {
            string[,] reversedBoard = new string[8, 8];
            for (int r = 0; r < 8; r++)
            {
                for (int c = 0; c < 8; c++)
                {
                    reversedBoard[r, c] = Board[7 - r, 7 - c];
                }
            }
            return reversedBoard;
        }
    }
    private Dictionary<int, char> ColToFile = new Dictionary<int, char>
    {
        {0, 'A'}, {1, 'B'}, {2, 'C'}, {3, 'D'}, {4, 'E'}, {5, 'F'}, {6, 'G'}, {7, 'H'}
    };


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Dotnet = DotNetObjectReference.Create(this);
            JS ??= await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/NewChessBoard.js");
            await JS.InvokeVoidAsync("handleBoard", Dotnet);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    protected override void OnInitialized()
    {
        SetupBoard();

        base.OnInitialized();
    }

    private void SetupBoard()
    {
        for (int i = 0; i < 8; i++)
        {
            for (int j = 0; j < 8; j++)
            {
                Board[i, j] = InitialBoard[i, j];
            }
        }
    }

    public void Dispose()
    {
        Dotnet?.Dispose();
    }

    private bool IsWhiteSquare(int row, int col)
    {
        return (row + col) % 2 == 0;
    }

    private int GetRank(int row)
    {
        if (IsWhite)
        {
            return 8 - row;
        }
        return row + 1;
    }

    private string GetFile(int col)
    {
        if (IsWhite)
        {
            return ColToFile[col].ToString().ToLower();
        }
        return ColToFile[7 - col].ToString().ToLower();
    }

    private string GetPiece(int row, int col)
    {
        if (IsWhite)
        {
            return Board[row, col];
        }
        return ReverseBoard[row, col];
    }

    [JSInvokable]
    public async Task<bool> MakeMoveAsync(int[] start, int[] end)
    {
        if (IsWhite)
        {
            string pieceMoved = Board[start[0], start[1]];
            Board[start[0], start[1]] = "--";
            Board[end[0], end[1]] = pieceMoved;
        }
        else
        {
            string pieceMoved = Board[7 - start[0], 7 - start[1]];
            Board[7 - start[0], 7 - start[1]] = "--";
            Board[7 - end[0], 7 - end[1]] = pieceMoved;
        }

        return true;
    }

    [JSInvokable]
    public async Task<bool> IsMoveValid(int[] start, int[] end)
    {
        if (IsWhite)
        {
            string x = Board[end[0], end[1]];
            return (x == "--");
        }
        else
        {
            string x = Board[7 - end[0], 7 - end[1]];
            return (x == "--");
        }
    }

    [JSInvokable]
    public async Task ReloadBoard()
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
}
